/*  your css code here. If applicable */
body{
	padding:20%;
}
.card{
	background-color:#f0f0f0;
	height:400px;
	width:250px;
	text-align:center;
	padding:20px;
}
title{
	
}
img{
	height:150px;
	width:200px;
}
button{
	background-color:#FE625A;
	border-radius:5px;
	color:white;
	border:none;
	padding:10px;
}